{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h1>Pokemon Detail</h1>
    <div class="card">
        <form action="{%url 'pokemon_edit' pokemon.id%}" method="POST">
        <div class="card-content">
                {% csrf_token %}
                {{ pokemon_form.as_p }}
            </div>
            
            <div class="card-action">
                <input class="btn blue" type="submit" value="Edit {{ pokemon.name }}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}